
.cate-item {
    position: relative;
    font-size: $font-size-300;
    width: max-content;
    height: 100%;
    padding: rem(22px) rem(12px);
    font-weight: $font-weight-regular;
    color: $gray-scale-600;
  
    > div{
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
    }
  
    &.selected {
        color: $gray-scale-700;
        font-weight: $font-weight-bold;
        border-bottom: 2px solid $primary-color;
    }

    .info {
        margin-left: rem(4px);
        color: $gray-scale-200;
    }

    .tooltip {
        position: absolute;
        top:rem(45px);
        left: rem(13px);
    }
}