.title {
  width:100%;
  height: $default-header-height;
  display: flex;
  align-items: center;
  padding:rem(12px) rem(20px);
  position:relative;
  .leftSide {
    width:100%;
    display: flex;
    align-items: center;
    .btnBack{
      margin-right:rem(10px);
    }
    .btnInfo{
      color:$gray-scale-300;
      margin-left:rem(8px);
    }
  }
  .rightSide {
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .btnEdit{
      margin-right:rem(20px);
    }
    .btnSelectAll{
      font-size: $font-size-200;
      color:$gray-scale-600;
      font-weight: $font-weight-regular;
      .selectedNum{
        color:$secondary-color;
        font-weight: $font-weight-medium;
        margin-right:rem(4px);
      }
    }
  } 
}
.toolTip{
  position:absolute;
  left:rem(55px);
  top:rem(41px);
}