.imageCropEditModalWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 12px;
  .buttonWrapper {
    background-color: $default-background-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: rem(48px);
    padding: 0 20px;
    .cancel {
      width: 24px;
      height: 24px;
    }
    .confirm {
      width: 62px;
      height: 36px;
      text-align: center;
      padding: 0;
      border-radius: 20px;
      border: 1px solid $gray-scale-700;
      background-color: $tertiary-color;
    }
  }
  .cropperContainer {
    width: 100%;
    height: auto;
    position: relative;
    margin: rem(0px) auto;
    height: inherit;
  }
  .controller {
    width: 100%;
    height: rem(84px);
    margin-top: rem(34px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    .zoomRangeNum {
      position: absolute;
      top: rem(-12px);
      height: auto;
      width: calc(100% - rem(112px));
      left: rem(44px);
      padding: rem(8px) 0px rem(4px) 0px;
      .zoomNumWrapper {
        font-size: 14px;
        color: $primary-color;
        width: rem(24px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
    .zoomRange {
      -webkit-appearance: none;
      -moz-appearance: none;
      height: rem(6px);
      border-radius: rem(3px);
      background: $gray-scale-300;
      width: calc(100% - rem(88px));
    }
    input[type='range'] {
      &::-webkit-slider-thumb {
        width: rem(24px);
        height: rem(24px);
        background-color: $gray-scale-700;
        border: rem(4px) solid $primary-color;
        border-radius: 50%;
        -webkit-appearance: none;
      }
    }
  }
  .aspectRatioSelectorWrapper {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    .aspectRatioSelector {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 120px;
      .ratioButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(30px);
        height: rem(30px);
        background-color: $gray-scale-700;
        border: rem(2px) solid $default-background-color;
        border-radius: 50%;
        font-weight: normal;
        line-height: rem(18px);
        color: $gray-scale-100;
        align-items: center;
        text-align: center;
        &.isActive {
          font-weight: bold;
          border: rem(2px) solid $primary-color;
          background-color: $primary-color;
          color: $gray-scale-700;
        }
      }
    }
  }
}
