.figureItemNoneWrapper {
  width: 288px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 156px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  .iconWrapper {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
  }
  .recommendBtn {
    margin-top: 30px;
  }
}
