.wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


  .badge {
    position: absolute;
    top: rem(-8px);
    right: rem(-7px);
    width: rem(25px);
    height: rem(14px);
    border-radius: rem(8px) rem(8px) rem(8px) rem(1px);
    padding: rem(2px) rem(4px);
    font-size: $font-size-100;
    line-height: 1;
    text-align: center;

    &.black {
      background-color: black;
      color: white;
    } 
  }

  &.circle {
    border-radius: 50%;
    border: 1px solid $gray-scale-700;
  }
  
  &.circle-bl {
    border-radius: 50% 50% 50% 14.28%;
    border: 1px solid $gray-scale-700;
  }
  
  &.circle-br {
    border-radius: 50% 50% 14.28% 50%;
    border: 1px solid $gray-scale-700;
  }
  

  //- 
  &.xxs {
    width: rem(20px);
    height: rem(20px);
  }

  //- 
  &.xs {
    width: rem(24px);
    height: rem(24px);
  }

  //- 
  &.s {
    width: rem(28px);
    height: rem(28px);
  }

  //- 
  &.m {
    width: rem(32px);
    height: rem(32px);
  }

  //
  &.l {
    width: rem(36px);
    height: rem(36px);
  }

  &.xl {
    width: rem(40px);
    height: rem(40px);
  }

  &.xxl {
    width: rem(48px);
    height: rem(48px);
  }

  &.xxxl {
    width: rem(80px);
    height: rem(80px);
  }
  
  &.primary {
    background-color: $primary-color;
  } 
  
  &.secondary {
    background-color: $secondary-color;
  }
  
  &.tertiary  {
    background-color: $tertiary-color;
  }

  &.black {
    background-color: black;
    color: white;
  }

  &.defualt {
    background-color: $default-background-color;
  }

  &.border-white {
    border: 1px solid $gray-scale-100;
  }
}

