.wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: rem(40px);

    .icon-box {
        display: flex;
        justify-content: center;
        align-items: center;

        width: rem(40px);
        height: rem(40px);
        border: 1px solid $gray-scale-700;
        border-radius: 50%;

        margin-right: rem(10px);
    }

    .info-box {
        .name {
            font-size: $font-size-300;
            font-weight: $font-weight-bold;
        }
        .count {
            font-size: $font-size-200;
            color: $gray-scale-500;
        }
    }
}


