.action-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        margin-right: rem(16px);

        &:last-child {
            margin-right: 0;
        }
    }
}

.trash-close {
    position: absolute;
    top:rem(20px);
    right: rem(20px);
}