.body {
    position: absolute;
    width: 100%;    
    height: auto;
    bottom: 0;
    background-color: #fff;
    &.borderRound{
        width: min(100%, $dialog-max-width);
        border-radius: rem(20px) rem(20px) 0px 0px;
    }

    .list {
        position: relative;
        width: 100%;
        height: auto;
        padding: rem(30px) rem(20px) rem(30px) rem(20px);
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}

.list::-webkit-scrollbar {
    display: none;
}