
.colorOptionContainer {
  position: absolute;
  right: rem(20px);
  top: rem(15px);
  max-width: $max-width;
  z-index: 1;

  width: rem(84px);
  height: rem(24px);
  background: $gray-scale-700;
  border-radius: rem(30px);

  margin: 0 auto;
  overflow: auto hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  .listBox {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 rem(12px);

    .icon {
      margin-right: rem(10px);
    }
    .list {
      flex:1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow-x: auto;

      .color {
        margin-right: rem(6px);
      }
    }

    .colorOptSaveBtn {
      z-index: 1;
      box-shadow: -6px 0 10px $gray-scale-700;
    }
  }


  .minimal {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: rem(2px) rem(12px);

    width: 100%;
    height: 100%;

    color: $gray-scale-100;

    font-size: $font-size-200;
    line-height: 1;
    
    .icon {
      margin-right: rem(6px);
    }
  }
}  

