.simple-popup-wrapper {
  width: calc(100% - rem(40px));
  max-width: rem(335px);
  height: fit-content;
  background-color: $default-background-color;
  border-radius: rem(20px);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: rem(40px) rem(20px);
  margin: auto;
  // transform: translate(-50%, 50%);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


}
.simple-popup-title {
  font-size: $font-size-300;
}
.simple-popup-content {
  font-size: $font-size-200;
  margin-top: rem(10px);
}
.simple-popup-button-wrapper {
  margin-top: rem(30px);
  display: flex;
  justify-content: center;
  button {
    margin: 0px rem(6px);
  }
}
