.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: $default-background-color;
}

.nameContainer {
  display: flex;
  align-items: center;
}

.rightMargin {
  margin-right: 10px;
}

.dimension {
  width: 24px;

  svg {
    height: 100%;
    width: 100%;
  }
}

.figure {
  width: 28px;
  height: 28px;
  svg {
    height: 100%;
    width: 100%;
  }
}
