.actionContainer {
  display: flex;
  // position: absolute;
  // top: rem(-68px);
  // justify-content: center;
  // left: 50%;
  // transform: translateX(-50%);
}

.actionBtn {
  margin: 0px rem(20px);
}

.actionOption {
  width: 48px;
  height: 48px;
}