*:not(input):not(textarea) {
  -webkit-user-select: none;
  /* disable selection/Copy of UIWebView */
  user-select: none;
  -webkit-touch-callout: none;
  /* disable the IOS popup when long-press on a link */
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: $font-weight-medium;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: $default-background-color;
  color: $gray-scale-700;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --gray-scale-100: #000000 !important;
//     --gray-scale-200: #666666 !important;
//     --gray-scale-300: #999999 !important;
//     --gray-scale-400: #bbbbbb !important;
//     --gray-scale-500: #eeeeee !important;
//     --gray-scale-600: #f9f9f9 !important;
//     --gray-scale-700: #ffffff !important;

//     --default-background-color: #181818 !important;
//     --elevated-background-color: #1f1f1f !important;
//     --disabled-background-color: #eeeeee !important;
//   }
// }