.container{
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p{
    font-size:$font-size-300;
  }
  p:nth-of-type(1){
    text-align: center;
    margin:rem(29px) 0 rem(10px) 0;
  }

}
.btnRedirection{
  margin-top:rem(30px);
}
.errorCode{
  color:$fail-color
}
.primaryColor{
  color:$primary-color;
}
