//*********************************nt-color-
//* Font Color
//*********************************
$gray-scale-100: var(--gray-scale-100); //FFFFFF
$gray-scale-200: var(--gray-scale-200); //F9F9F9
$gray-scale-300: var(--gray-scale-300); //EEEEEE
$gray-scale-400: var(--gray-scale-400); //BBBBBB
$gray-scale-500: var(--gray-scale-500); //999999
$gray-scale-600: var(--gray-scale-600); //666666
$gray-scale-700: var(--gray-scale-700); //000000

//*********************************
//* Font Weight
//*********************************
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//*********************************
//* Colors
//*********************************
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$tertiary-color: var(--tertiary-color);
$fail-color: var(--fail-color);

$default-background-color: var(--default-background-color);
$elevated-background-color: var(--elevated-background-color);
$disabled-background-color: var(--disabled-background-color);

//*********************************
//* z-index
//*********************************
$zindex-elevated: 1000;
$zindex-dropdown: 1010;
$zindex-navigation: 1020;
$zindex-fixed: 1030;
$zindex-offcanvas-backdrop: 1040;
$zindex-offcanvas: 1045;
$zindex-modal-backdrop: 1050;
$zindex-modal: 1055;
$zindex-tooltip: 1060;
$zindex-confirm-backdrop: 1070;
$zindex-confirm: 1075;
$zindex-alert-backdrop: 1080;
$zindex-alert: 1085;
$zindex-toast: 1090;

//*********************************
//* layout
//*********************************
$vh: var(--vh);
$vh-100: calc($vh * 100);
$medium-min-width: 750px;
$expanded-min-width: 840px;

$navigation-size: rem(70px);
$max-width: var(--max-width);

$full-button-height: rem(60px);
$default-header-height: rem(48px);
$default-tab-height:rem(52px);

$keyboard-height: var(--keyboard-height);
//*********************************
//* Font Size
//*********************************
$font-size-100: rem(10px);
$font-size-200: rem(12px);
$font-size-300: rem(14px);
$font-size-400: rem(16px);
$font-size-500: rem(20px);
$font-size-600: rem(24px);

//*********************************
//* Joysam
//*********************************
$joysam-gray-scale-100: #ffffff;
$joysam-gray-scale-200: #f9f9f9;
$joysam-gray-scale-300: #eeeeee;
$joysam-gray-scale-400: #bbbbbb;
$joysam-gray-scale-500: #999999;
$joysam-gray-scale-600: #666666;
$joysam-gray-scale-700: #222222;
$joysam-primary: linear-gradient(
  118deg,
  #ffe924 -36.81%,
  #ff4a4d 3.91%,
  #b238ff 47.23%,
  #3d81ff 79.54%,
  #41ffd2 122.76%
);
$joysam-secondary-1: #2073f6;
$joysam-secondary-2: #ff2164;
$joysam-secondary-3: #fdd000;
$joysam-max-width: rem(540px);

//*********************************
//* Dialog system (여러 b2b에서 공통으로 쓰이되 각 css 상수가 다를수 있음.)
//*********************************
$dialog-text-color: var(--dialog-text-color);
$dialog-secondary-color1: var(--dialog-secondary-color1);
$dialog-secondary-color2: var(--dialog-secondary-color2);
$dialog-secondary-color3: var(--dialog-secondary-color3);
$dialog-max-width: rem(540px);
