.messageIconWrapper {
    position: relative;
  }
  
  .roomStatusMessage {
    z-index: 2;
    position: relative;
    pointer-events: all;
  }
  
  .absoluteDiv {
    position: absolute;
  }
  
  .positionWrapper {
    position: absolute;
    top: 0;
    pointer-events: none;
  }
  

  .comment {
    position: fixed;
    left: 50%;
    bottom: rem(26px);
    transform: translateX(-50%);
    width: rem(185px);
    height: rem(36px);
    background-color: $default-background-color;
  }

  .like {
    position: fixed;
    right: rem(20px);
    bottom: rem(26px);
  }