.backdrop {
  z-index: $zindex-offcanvas-backdrop !important;
  pointer-events: all !important;
}

.container {
  z-index: $zindex-offcanvas !important;
  background-color: $default-background-color !important;
}

.offCanvasWrapper {
  max-width: $max-width;
  height: 100%;
  overflow: auto;
  margin: 0 auto;
  overflow: hidden;
  z-index: $zindex-offcanvas !important;

  .offCanvasHeaderWrapper {
    width: 100%;
    border-radius: 20px 20px 0 0;
    //padding-bottom추가 금지(customHeder에서 수정)
    border-bottom: 1px solid $gray-scale-300;
    &.disableBottomLine{
      border-bottom:none;
    }
    .offCanvasHeader {
      height: 25px;
      .headerBar {
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
        border-radius: 5px;
        width: 45px;
        height: 5px;
        background: rgba(0, 0, 0, 0.1);
      }
      .closeBtn {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 20px;
        top: 3px;
      }
    }
  }

  .primary {
    background-color: $primary-color;
  }

  .secondary {
    background-color: $secondary-color;
  }

  .tertiary {
    background-color: $tertiary-color;
  }
}
