.statusMessageEditModalWrapper {
  width: 100%;
  height: $vh-100;
  @supports (height: 100dvh) {
    height: 100dvh;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.statusMessageEditModalButtonWrapper {
  left: rem(20px);
  display: flex;
  width: 100%;
  background-color: $default-background-color;
  padding: 0 rem(20px);
  height: rem(48px);
  justify-content: space-between;
  align-items: center;
  font-size: rem(12px);
  button {
    background-color: transparent;
  }
  .closeBtn {
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    width: rem(28px);
    height: rem(28px);
    svg {
      width: rem(28px);
      height: rem(28px);
    }
    background-color: transparent;
    text-align: center;
    // img {
    //   height: 100%;
    //   aspect-ratio: 1;
    // }
  }
}

.EditWrapper {
  height: calc(100% - rem(345px));
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bottomMargin {
  width: 100%;
  height: rem(345px); //TODO(seoyun): 수정 BottomWrapper height
}
