.containerPlacemode {
  display: flex;
  flex-direction: column;
  height: $vh-100;
  overflow: hidden;
}

.canvasContainer {
  flex-grow: 1;
  min-height: 50%;
}

.container_Sort_Item {
  height: calc(100% - rem(65px));
  overflow-y: auto;
}

.contentCategory {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
  //background-color: $elevated-background-color;
  border-radius: 10px 10px 0px 0px;
}

.contentSort {
  display: flex;
  flex-direction: row;
  position: relative;
}

.saveBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: rem(10px);
  margin-right: rem(10px);
  z-index: 1021;
}