.statusMessageText {
  position: relative;
  box-sizing: border-box;
  border-radius: rem(20px);
  border: solid rem(1px) $gray-scale-700;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(150px);
  height: rem(150px);
  //StatusMessageEdit style과 동일
  padding: 9px 20px;
  width: max-content;
  height: auto;
  font-size: 12px;
  > p {
    word-break: break-all;
    white-space: break-spaces;
    max-width: rem(155px);
    min-width: rem(20px);
    min-height: rem(16px);
    line-height: 16px;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: rem(-8px); /* 요소의 하단 밖으로 이동 */
    width: rem(6px);
    height: rem(6px);
    left: 50%;
    transform: translateX(-50%);
    background: $primary-color;
    border: rem(1px) solid $gray-scale-700;
    border-radius: 50%;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: rem(-14px); /* 요소의 하단 밖으로 이동 */
    width: rem(4px);
    height: rem(4px);
    left: 50%;
    transform: translateX(-50%);
    background: $primary-color;
    border: rem(1px) $gray-scale-700 solid;
    border-radius: 50%;
  }
}
