.actionToggleButtonWrapper {
  width: rem(93px);
  height: rem(20px);
  border-radius: rem(15px);
  background-color: $default-background-color;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: rem(8px);

  .actonStepText {
    margin-right: 6px;
    font-size: 12px;
    font-weight: $font-weight-regular;
    line-height: 12px;
  }
}
