.displayNone {
  display: none;
}

.figureShowcaseFeedItemWrapper {
  width: 100%;
  height: auto;

  .FeedItemHeader {
    width: 100%;
    padding: 20px;
    display: flex;
    height: 80px;
    .flex {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      width: calc(100% - (10px + 40px)); //margin-left + avatar
      .feedItemHeaderTop {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .feedNickname {
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: $font-size-200;
          line-height: 24px;
          font-weight: $font-weight-medium;
          white-space: nowrap;
          max-width: calc(100% - (24px)); //menu
        }
        .menu {
          width: 24px;
          height: 24px;
        }
      }
      .feedItemHeaderBottom {
        display: flex;
        width: 100%;
        justify-content: space-between;
        color: $gray-scale-500;
        font-weight: $font-weight-regular;
        .feedUserId {
          font-size: $font-size-200;
          font-weight: $font-weight-regular;
        }
        .createFeedDate {
          font-size: $font-size-100;
        }
      }
    }
  }
  .feedItemContent {
    position: relative;
    padding: 20px 0;
    .feedStatusMessageWrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
    }
    .feedThumbnailWrapper {
      display: flex;
      justify-content: center;
      .avatarThumbnail {
        width: 168px;
        height: 206px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .playButton {
      position: absolute;
      bottom: 20px;
      right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font-size-100;
      font-weight: $font-weight-regular;
    }
  }
  .feedItemAction {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  }
}
.figureShowcaseFeedItemWrapper + .figureShowcaseFeedItemWrapper {
  border-top: 10px $gray-scale-200 solid;
}

.handIcon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
