.itemFullScreenModalMemoMessageBoxWrapper {
  position: relative;
  width: max-content;
}

.memoMessageWrapper {
  position: absolute;
  bottom: calc(50% + 28px);
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  align-items: center;
  z-index: 1;
  width: max-content;
}
.memoMessage {
  height: auto;
}
.delButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  right: calc(-20px - 12px);
}

.messageBox {
}
