.body {
    position: relative;
    width: min(calc(100% - rem(40px)), $dialog-max-width);
    min-height: rem(104px);
    padding-top: rem(8px);
    .questionIndexWrapper{
        display: flex;
        justify-content: center;
        .questionIndex{
            width:fit-content;
            padding:0 rem(13px);
            height:rem(32px);
            background-color: $tertiary-color;
            border-radius: rem(18px);
            font-size: $font-size-300;
            font-weight: $font-weight-bold;
            display: flex;
            align-items: center;
            color:$joysam-gray-scale-700;
        }
    }
    .inner_body {
        margin: 0 rem(20px);
        height:fit-content;
        padding:rem(16px) rem(20px) rem(10px) rem(20px);
        border-radius: rem(15px);
        &.hasBgColor{
            background-color: #fff;
        }
        .text {
            color: $dialog-text-color;
            font-style: normal;
            font-weight: $font-weight-medium;
            line-height: 140%;
            white-space: pre-line;
            &.left{
                text-align: left;
            }
            &.center{
                text-align: center;
            }
            &.s{
                font-size: $font-size-400;          // 사업팀 요청 임시. 그래픽에서는 14px 로 해달라고 했었음.
            }
            &.m{
                font-size: $font-size-400;
            }
        }
        .noButtonMargin{
            height:rem(6px);
        }
        .button_area {
            position:relative;
            height: rem(24px);
            margin-top:rem(12px);   
            .prev_button {
                position: absolute;
                left:rem(-8px);
                width: rem(49px);
                height: rem(24px);
                display: flex;
                flex-direction: row;

                .prev_icon {
                    position: relative;
                    width: rem(24px);
                    height: rem(24px);
                    color: $dialog-secondary-color1;
                }

                .prev_text {
                    position: relative;
                    width: rem(25px);
                    height: rem(24px);
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                    color: $dialog-secondary-color1;
                    font-size: $font-size-100;
                    font-style: normal;
                    font-weight: $font-weight-medium;
                    line-height: 100%;
                }
            }

            .next_button {
                position: absolute;
                width: rem(49px);
                height: rem(24px);
                top: 0;
                right: rem(-8px);
                display: flex;
                flex-direction: row;

                .next_text {
                    width: rem(25px);
                    height: rem(24px);
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                    color: $dialog-secondary-color1;
                    font-size: $font-size-100;
                    font-style: normal;
                    font-weight: $font-weight-medium;
                    line-height: 100%;
                }

                .next_icon {
                    position: relative;
                    width: rem(24px);
                    height: rem(24px);
                    color: $dialog-secondary-color1;
                }
            }
        }
    }

    @media (min-width: $dialog-max-width) {
        .inner_body {
            left: 0;
            right: 0;
        }
    }
}