.listType{
  width:100%;
  height:rem(54px);
  display: flex;
  align-items: center;
  padding: 0 rem(20px);
  .scrollArea{
    display: flex;
    width:calc(100% - rem(24px));
    height:rem(24px);
    overflow-x: scroll;    
    -ms-overflow-style: none;
    scrollbar-width: none;
    .btnListType{
      width:fit-content;
      padding:rem(6px) rem(12px);
      height:rem(24px);
      border-radius: rem(15px);
      margin-right:rem(5px);
      font-size:$font-size-200;
      display: flex;
      justify-content: center;
      align-items: center;
      &.on{
        color:$gray-scale-700;
        border:1px solid $gray-scale-700;
        background-color: $primary-color; 
      }
      &.off{
        color:$gray-scale-600;
        border:1px solid $gray-scale-300;
        background-color: $gray-scale-200;
      }
    }
  }
  .scrollArea::-webkit-scrollbar{
    display: none;
  }
  .rightSide{
    width:rem(24px);
  }
}

.list{
  width:100%;
  height:rem(80px);
  margin-bottom:rem(20px);
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  .wrapper{
    min-width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    border:1px solid green;
  }
  .balloonItem{
    margin-right:rem(9px);
    flex-shrink: 0;
  }
  .balloonItem:nth-of-type(1){
    margin-left:rem(20px);
  }
}
.list::-webkit-scrollbar{
  display: none;
}

.preview{
  width:100%;
  height:rem(180px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .previewBalloon{
    width:rem(160px);
    height:rem(160px);
    img{
      width:100%;
      height:100%;
    }
  }
  .priceWrapper{
    position: absolute;
    top:rem(15px);
    right:rem(20px);
    border-radius: rem(15px);
    padding:rem(6px) rem(12px);
    display: flex;
    align-items: center;
    font-size: $font-size-200;
    background-color: $gray-scale-100;
    .priceIcon{
      margin-right:rem(4px);
    }
    .priceText{
      margin-top:rem(-1px);
    }
  }
  .triangle{
    position: absolute;
    top:0;
    transform:translateX(-50%);
    left:50%;
  }
}
// .preview::after{
//   content: '';
//   position: absolute;
//   border-style: solid;
//   border-width: rem(14px) rem(14px) 0;
//   border-color: #FFFFFF transparent;
//   display: block;
//   width: 0;
//   z-index: 1;
//   top: 0;
//   left: calc(50% - rem(10px));
// }
.desc{
  display: flex;
  color:$fail-color;
  padding:rem(16px) rem(47px) rem(30px) rem(20px);
  svg{
    margin-top : rem(5px);
  }
  span{
    margin-left: rem(8px);
    color:$gray-scale-600;
    font-size: $font-size-200;
    font-weight: $font-weight-regular;
  }
}