.wrapper{
  width:100vw;
  height:100vh;
  padding:rem(10px);
  overflow: auto;
}
.forwardLayer{
  position: relative;
  width:100%;

  min-width: rem(375px);
  background-color: #fff;
  z-index: 1;
  display: flex;
  @media screen and (max-width:800px) {
    flex-direction:column;
    align-items: center;
  }
}
.cardWrapper{
  border:1px solid #666;
  width:rem(338px);
  height:rem(507px);
}
.editWrapper{
  width:100%;
  height:100%;
  @media screen and (max-width:1000px) {
    margin-top:rem(10px);
  }
  @media screen and (min-width:1001px){
    margin-left:rem(10px);
  }
  .imageFieldWrapper{
    margin-bottom:rem(10px);
  }
  textarea{
    margin-top:rem(10px);
    width:calc(100% - rem(20px));
    min-height:rem(200px);
    border:1px solid #666;
    resize: both;
  }
  
}

.hiddenArea{
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
  .canvasWrapper{
    width:rem(256px);
    height:rem(256px);
  }
  .scene-container {
    flex: 1;
    // flex 설정시 100%로 하면 무한하게 커집니다.
  }
  
}