.dialogTitlePage{
  width:100%;
  height:100%;
  background-color: $joysam-gray-scale-100;
  overflow-y: auto;
  .header{
    height:$default-header-height;
    .btnClose{
      margin-top:rem(10px);
      margin-left:rem(20px);
    }
  }
  $title-wrapper-height:rem(104px);
  .titleWrapper{
    width:100%;
    height:$title-wrapper-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:$joysam-gray-scale-700;
    position: relative;
    .titleStroke{
      position: absolute;
      top:rem(9px);
      width:rem(90px);
      height:rem(51px);
    }
    .titleText{
      margin-top:rem(19px);
      font-size: $font-size-500;
      font-weight: $font-weight-bold;
    }
    .startText{
      margin-top:rem(31px);
      font-size:$font-size-400;
      font-weight: $font-weight-regular;
    }
  }
  .body{
    height:calc($vh-100 - $full-button-height - $default-header-height - $title-wrapper-height);
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    .titleImage{
      width:rem(295px);
      height:rem(360px);
      img{
        width:100%;
        height:100%;
      }
    }
  }
  .footer{
    width:100%;
    height:$full-button-height;
    display: flex;
    font-weight: $font-weight-bold;
    font-size: $font-size-400;
    text-align: center;
    .btnShare{
      width:50%;
      border:1px solid $joysam-gray-scale-300;
      background-color: $joysam-gray-scale-100;
      color:$joysam-gray-scale-700;
    }
    .btnStart{
      width:50%;
      background-color: $dialog-secondary-color3;
      color:$joysam-gray-scale-700;
    }
  }
}
