.iconButtonWrapper {
  font-size: 14px;
  .SelectOffCanvasContainer {
    background-color: $primary-color;
  }
  .offCanvasHeaderWrapper {
    border-bottom: 0;
  }
}

.iconButtonSheet {
  padding-bottom: 20px;
  .iconButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 46px;
    align-items: center;
    .txt {
      margin-left: 10px;
    }
  }
}
.textButtonWrapper {
  .SelectOffCanvas {
    padding: 30px 0;
    .selectButton {
      height: 48px !important;
      border-radius: 40px;
      &:hover {
        box-shadow: 1px 1px 0px 0px $gray-scale-700;
        background-color: $primary-color;
        ::after {
          content: url('/icons/Btn_Check_SS.svg');
          position: absolute;
          right: 33px;
        }
      }
      > div {
        height: 100%;
        font-size: 16px !important;
      }
    }
    .selectButtonWrapper + .selectButtonWrapper {
      margin-top: 10px;
    }
  }
}
