.wrap {
  padding-bottom: 20px;

  .info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 18px;

    .text {
      font-size: $font-size-300;
      font-weight: $font-weight-bold;
    }

    .count {
      font-size: $font-size-200;
      margin: 0 rem(10px);
      color: $secondary-color;
    }
  }
}
