.wrap {
    position: absolute;
    width: rem(184px);
    height: rem(104px);
    transform: translate(-50%, 0);
    left: 50%;
    bottom: rem(20px);

    .top-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottom-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: rem(20px);
    }
}