.header{
    height: rem(48px);
    //max-width: $max-width;
    margin: 0 auto;
    display: flex;
    justify-items: center;
    align-items: center;
}

.fix-view {
    //width: 100vw;
    height: $vh-100;
    //max-width: $max-width;
    margin: 0 auto;
    position: relative;
}

.fix-view.navigation {
    height: calc($vh-100 - $navigation-size - rem(48px));
}
