@colorverse:registry=https://git.colorverse.co/api/v4/packages/npm/ 
'//git.colorverse.co/api/v4/packages/npm/:_authToken'="ZpkoXbykNBkzuB-xATqg" 
'//git.colorverse.co/api/v4/projects/107/packages/npm/:_authToken'="ZpkoXbykNBkzuB-xATqg" 