.my_market {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px rem(20px);
  background-color: $default-background-color;
}

.toggleMyMarketContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: rem(5px);
  width: rem(60px);
  height: rem(34px);
  border: solid 1px $gray-scale-700;
  border-radius: rem(20px);
  position: relative;

  &.toggleEnd {
    justify-content: flex-end;
  }
}

.categoryIcon {
  position: absolute;
  z-index: 2;
  &.my {
    left: 6px;
  }
  &.market {
    right: 6px;
  }
}

.toggleBtn {
  z-index: 0;
  border: solid 1px $gray-scale-700;
  border-radius: rem(20px);
  background-color: $primary-color;
  width: rem(24px);
  height: rem(24px);
  box-sizing: content-box;
}
