
.wrap {
    height: 100%;
    padding-top: rem(10px);
    
    .container {
        overflow: hidden;
        height: calc(100% - rem(45px));
        width: 100%;

        .scroll-box {
            overflow: hidden auto !important;
            margin: 0 auto;
        }
    }
}

