.favNcommentInFeed {
  display: flex;
  font-size: $font-size-200;
  font-weight: $font-weight-regular;
  height: 20px;
  &.inactive {
    color: $gray-scale-400 !important;
  }
  .favorite {
    display: flex;
    margin-right: 16px;
  }
  .comment {
    display: flex;
  }
  .num {
    text-align: center;
  }
}

.icon {
  margin-right: 4px;
}
