#icon-generator-root {
  display: grid;
  grid-template-rows: calc(100vh - 20vh) 20vh;
  grid-template-columns : calc(100% - 300px) 300px;
  width: 100vw;
  height: 100vh;
  background-color: #464646;
  font-size: 10pt;

  #scene {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #right-grab{
    grid-column: 2/3;
    grid-row: 1/3;
    cursor: ew-resize;
  }

  .right-panel{
    grid-column: 3/4;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 40px auto 40px;
    grid-template-columns: 100%;
    height: 100%;
    overflow-y: auto;
  }

  #log {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #ffffff;
  }
}