.figureShowcaseCardItemWrapper {
  height: 188px;
  width: 103px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .figureShowcaseCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    font-weight: $font-weight-regular;
    width: 100%;
    height: 149px;
    border-radius: 16px;
    position: relative;
    .messageIconWrapper {
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .avatarThumbnail {
      width: 100%;
      height: 96px;
      margin-top: 15px;
      margin-bottom: 5px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .figureUserId {
      color: $gray-scale-600;
      display: block;
      line-height: 1;
      text-align: center;
      width: fit-content;
      height: 10px;
      line-height: 10px;
      max-width: 83px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .figureBottomButton {
      position: absolute;
      bottom: -13px;
    }
  }
  .figureNickname {
    font-weight: $font-weight-medium;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    height: auto;
    text-align: center;
  }
}

.checkedIcon {
  width: 11px;
  height: 11px;
  div {
    width: 100%;
    height: 100%;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}
