.webcam {
    width: 100%;
    height: 100%;
}

.webcamHide {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.volume {
    background-color: red;
    position: absolute;
    bottom: 2px;
    right: 2px;
    max-width: calc(100% - 4px);
}

.startbutton {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 5rem;
}