@mixin balloonBottom($color) {
  &::after {
    content: '';
    position: absolute;
    bottom: rem(-8px); /* 요소의 하단 밖으로 이동 */
    width: rem(6px);
    height: rem(6px);
    left: 50%;
    transform: translateX(-50%);
    background: $color;
    border: rem(1px) solid $gray-scale-700;
    border-radius: 50%;
    box-sizing: border-box;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: rem(-14px); /* 요소의 하단 밖으로 이동 */
    width: rem(4px);
    height: rem(4px);
    left: 50%;
    transform: translateX(-50%);
    background: $color;
    border: rem(1px) $gray-scale-700 solid;
    border-radius: 50%;
    box-sizing: border-box;
  }
}

.BalloonMessageWrapper {
  width: 100%;
  height: rem(50px);

  .BalloonMessage {
    position: relative;
    font-size: rem(12px);
    height: rem(36px);
    width: max-content;
    padding: rem(9px) rem(16px);
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: rem(20px);
    box-sizing: border-box;
    border: 1px solid $gray-scale-700;
    background-color: $gray-scale-100;
    margin: 0 auto;
    .urlText {
      max-width: 121px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 20px;
      line-height: 20px;
    }
    // border: 1px solid $gray-scale-700;
    .iconWrapper {
      width: rem(20px);
      height: rem(20px);
      div {
        width: 100%;
        height: 100%;
      }
    }
    @include balloonBottom($gray-scale-100);
  }

  &.textBalloon {
    .BalloonMessage {
      background-color: $primary-color;
      height: auto;
      padding: rem(7px) rem(16px) !important;
      @include balloonBottom($primary-color);
      .TextIconWrapper {
        margin-right: 6px;
        width: rem(20px);
        height: rem(20px);
        div {
          width: 100%;
          height: 100%;
        }
      }
      .textWrapper {
        max-width: 155px;
        white-space: break-spaces;
        word-break: break-word;
        line-height: 16px;

        &.roomMemo {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  &.commentBalloon {
    height: fit-content;
    margin-bottom: 4px;
    .BalloonMessage {
      z-index: 1;
      background-color: $tertiary-color;
      height: auto;
      padding: rem(5px) rem(16px);
      @include balloonBottom($tertiary-color);
      .textWrapper {
        max-width: 155px;
        white-space: break-spaces;
        word-break: break-word;
        &.commentText {
          line-height: 20px;
          max-height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: normal;
        }
      }
      .profileImageWrapper {
        width: 24px;
        height: 24px;
        margin-right: 6px;
      }
    }
  }
}
