.input-text {
  width: 100%;
  height: rem(46px);
  border: 1px solid $gray-scale-300;
  border-radius: rem(16px);
  padding: rem(16px);
  font-size: $font-size-300;

  &:focus {
    border: 1px solid $tertiary-color;
  }

  &.fail {
    border: 1px solid $fail-color;
  }

  &::placeholder {
    color: $gray-scale-500;
    font-weight: $font-weight-regular;

  }
}


