.figureShowcaseHeaderWrapper {
  width: calc(100vw - rem(40px));
  height: 48px;
  display: flex;
  justify-content: start;
  align-items: center;
  .flex {
    display: flex;
    align-items: end;
    height: 16px;
  }
  .figureHeaderTitle {
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    margin-right: 10px;
  }
  .figureHeaderNickname {
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    padding-left: 10px;
    border-left: solid 1px #000000;
  }
  .backBtn {
    margin-right: 10px;
  }
}
