.wrapper{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: rem(14px);
  min-width: rem(16px);
  padding: rem(2px) rem(4px);
  border-radius: rem(8px) rem(8px) rem(8px) rem(1px);
  border:1px solid $secondary-color;
  background-color: $secondary-color;
  font-size: $font-size-100;
  font-weight: $font-weight-regular;
  color: #fff;
}