.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: $font-size-500;
  min-height: rem(48px);
  padding-bottom: 20px;
}
.userNicknameWrapper {
  display: flex;
  width: fit-content;
  font-size: $font-size-500;
}
.highlight {
  font-size: $font-size-500;
  font-weight: $font-weight-bold;
  background-image: linear-gradient(
    0deg,
    $primary-color 0%,
    $primary-color 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 30%;
  background-position: 0 88%;
}
.bottomWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guideListWrapper {
  padding: rem(30px);

  .guideWrapper {
    display: flex;
    align-items: center;
    min-height: rem(56px);
  }
  .guideWrapper:nth-of-type(even) {
    margin-top: rem(30px);
  }
  .guideIcon {
    min-width: rem(50px);
    min-height: rem(50px);
    border-radius: (50px);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
  }

  .guideTextWrapper {
    display: flex;
    flex-direction: column;
    margin-left: rem(16px);
    .title {
      font-size: $font-size-400;
      font-weight: $font-weight-bold;
    }
    .desc {
      margin-top: rem(5px);
      font-size: $font-size-200;
      font-weight: $font-weight-regular;
      color: $gray-scale-500;
    }
  }
}

.okButton {
  width: rem(335px);
  height: rem(50px);
  text-align: center;
  margin-bottom: rem(30px);
  border: rem(1px) solid $gray-scale-700;
  border-radius: rem(40px);
  box-shadow: rem(1px) rem(1px) 0px 0px $gray-scale-700;
  background-color: $primary-color;
}
