.readMarkWrapper{
  height:rem(30px);
  width:100%;
  margin:rem(20px) 0;
  display:flex;
  align-items: center;
  justify-content: center;
}
.readMark{
  height:100%;
  width:fit-content;
  padding: 0 rem(20px);
  border-radius:rem(20px);
  background-color:$gray-scale-200;
  color:$gray-scale-700;
  font-size:rem(12px);
  display:flex;
  align-items: center;
  justify-content: center;
}
.messageWrapper{
  width:100%;
  height:fit-content;
  min-height:rem(100px);
  color:black;
  padding:rem(20px);
  margin-bottom:rem(10px);
  display: flex;
  flex-direction: column;
  position: relative;
  .balloonIcon{
    position: absolute;
    width:rem(28px);
    height:rem(28px);
    right:rem(20px);
    top:rem(26px);
    &.inactive{
      img{
        opacity: 0.5;
      }
    }
    .balloonInactiveCover{
      position:absolute;
      top:0;
      left:0;
      filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(174deg) brightness(90%) contrast(90%) opacity(10%);
    }
  }
}
.writerWrapper{
  width:rem(300px);
  display: flex;
  margin-bottom:rem(10px);
  .writerSelfie{
    margin-right:rem(10px);
  }
  .writer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: $font-size-200;
    font-weight: $font-weight-medium;
    .date{
      font-size: $font-size-100;
      font-weight: $font-weight-regular;
      color: #999;
    }
  }
  .checkboxWrapper{
    width:rem(40px);
    height:rem(40px);
    margin-right: rem(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
}
.contents{
  font-weight: $font-weight-regular;
  font-size: $font-size-200;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}