@use "sass:string";


.toastPopupText {
  background-color: color-mix(in srgb, $gray-scale-700 50%, transparent);
  width: calc(100% - rem(40px));
  height: auto;
  position: fixed;
  bottom: calc(rem(41px) + $keyboard-height);
  font-size: $font-size-200;
  font-weight: normal;
  padding: rem(11px) rem(20px);
  border-radius: rem(16px);
  white-space: break-spaces;
  color:white;
  left: 50%;
  transform: translateX(-50%);
  line-height: rem(18px);
  word-break: break-word;
  max-width: calc($max-width - rem(40px));
  z-index: $zindex-toast;
}
