.wrap {
    position: absolute;
    bottom: rem(30px);
    left: 50%;
    transform: translate(-50%, 0);
    width: rem(164px);
    height: rem(212px);

    .social {
        width: rem(134px);
        height: rem(28px);
        border-radius: rem(20px);
        background-color: $default-background-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto rem(16px) auto;
        padding: 0 rem(10px);

        .button {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: $font-size-200;

            .icon {
                margin-right: rem(4px);
            }
        }
    }

    .action {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }


    .nickname-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: rem(26px);
        position: absolute;
        bottom: 0;

        .owner {
            width: rem(26px);
            height: 100%;
            border-radius: 50%;
            border: 1px solid $gray-scale-700;
            background-color: $primary-color;
            line-height: 1;
            text-align: center;
        }

        .nickname {
            flex: 1;
            height: 100%;
            border-radius: rem(20px);
            border: 1px solid $gray-scale-700;
            background-color: $primary-color;

            font-size: $font-size-200;
            font-weight: $font-weight-bold;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}