@import '../../../mixins.scss';

.fileUpload {
  @include commonStateStyle;
  @include commonStateImage;
  font-size: rem(12px);
  line-height: rem(20px);
  padding: 0 rem(20px);
}

.iconWrapper {
  width: rem(20px);
  height: rem(20px);
  margin-right: rem(4px);
}
