.body{
  padding:0 rem(20px) rem(30px) rem(20px);
}
.sectionTitle{
  font-size: $font-size-200;
  font-weight: $font-weight-medium;
  color:$gray-scale-500;
  margin-bottom:rem(21px);
}
.checkboxWrapper{
  display:flex;
  align-items: center;
  font-size: $font-size-300;
  font-weight: $font-weight-medium;
  margin-bottom: rem(20px);
  .checkBox {
    width: rem(26px);
    height: rem(26px);
    background: url('/icons/Common_Check_M.svg') no-repeat center center;
    background-size: 100% 100%;
    margin-right: rem(10px);
  }
  
  .checkBox:checked {
    background: url('/icons/Common_Check_M_On.svg') no-repeat center;
    background-size: 100% 100%;
  }  
}
.sectionBody{
  display: flex;
  flex-direction: column;
  margin-bottom:rem(30px);
  font-size: $font-size-300;
  font-weight: $font-weight-medium;
}
.btnOrder{
  height:rem(26px);
  padding-left:rem(36px);
  display: flex;
  align-items: center;
  margin-bottom:rem(16px);
  &.on{
    background: url('/icons/Radio_M_On.svg') no-repeat;
    background-size: rem(26px) rem(26px);
  }
  &.off{
    background: url('/icons/Radio_M.svg') no-repeat;
    background-size: rem(26px) rem(26px);
  }
}

.bottomButtons{
  height:rem(36px);
  display: flex;
  justify-content: space-around;
  font-size: $font-size-200;

  .btnClose{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:rem(12px);
    width:50%;
    height:rem(36px);
    border-radius: rem(20px);
    border:1px solid $gray-scale-700;
    background-color: $gray-scale-100;
  }
  .btnApply{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    height:rem(36px);
    border-radius: rem(20px);
    border:1px solid $gray-scale-700;
    background-color: $primary-color;
  }
}