
.wrap {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .canvas{
        width: 100vw;
        height: 100vh;
    }

    .form-wrap {
        position: absolute;
        bottom: 3%;
        left: 3%;
    }

    .select-scene {
        background-color: white;
    }
}