.withdrawModalWrapper{
  width:100%;
  height:100%;
  background-color: $gray-scale-100;
}
.header{
  width:100%;
  height:$default-header-height;
  padding:rem(12px) rem(20px);
  display: flex;
  .headerText{
    margin-left:rem(10px);
    font-size: $font-size-400;
    font-weight: $font-weight-medium;
  }
}
.body{
  width:100%;
  height:calc(100% - $default-header-height);
  overflow-y : auto; 
}
.section{
  display: flex;
  flex-direction: column;
  padding:rem(30px) rem(20px);
  border-bottom: 8px solid $gray-scale-200;
}
.withdrawHeader{
  display: flex;
  flex-direction: column;
  padding:rem(20px) rem(20px) rem(30px) rem(20px);
  border-bottom: 8px solid $gray-scale-200;
  .title{
    font-size: $font-size-400;
    font-weight: $font-weight-bold;
    margin-bottom:rem(16px);
  }
  .desc{
    font-size:$font-size-200;
    font-weight: $font-weight-regular;
    color:$gray-scale-500;
  }
}
.splitLine{
  width:100%;
  margin-top:rem(20px);
  margin-bottom:rem(20px);
  border-bottom:1px solid $gray-scale-200;
}
.deleteInfoWrapper{
  margin-top:rem(10px);
}

.infoTitle{
  display: flex;
  color:$fail-color;
  margin-bottom:rem(8px);
  .title{
    margin-left:rem(8px);
    font-size: $font-size-300;
    font-weight: $font-weight-bold;
    line-height: 100%;
  }
}
.infoSubTitle{
  font-size: $font-size-300;
  font-weight: $font-weight-medium;
  color:$gray-scale-600;
  line-height: 100%;
  margin-top:rem(20px);
  margin-bottom:rem(2px);
}

.infoContents{
  display: flex;
  margin-top:rem(10px);
  .dot{
    width:rem(2px);
    height:rem(2px);
    border-radius: 50%;
    background-color: $gray-scale-500;
    margin-right:rem(7px);
    margin-top:rem(9px);
  }
  .contents{
    font-size: $font-size-200;
    font-weight: $font-weight-regular;
    color:$gray-scale-500;
  }
}

.userInfoWrapper{
  display: flex;
  flex-direction: column;
  .space{
    width:100%;
    height:rem(30px);
  }
  .grayBox{
    margin-top:rem(10px);
    padding:rem(16px);
    height:rem(46px);
    border:1px solid $gray-scale-300;
    border-radius: rem(16px);
    background-color: $gray-scale-200;
    color:$gray-scale-700;
    display: flex;
    align-items: center;
    font-size: $font-size-300;
    font-weight: $font-weight-regular;
    .goodsValue{
      font-size: $font-size-200;
      font-weight: $font-weight-medium;
      margin:rem(-3px) rem(10px) 0 rem(4px);
    }
  }
}

.confirmArea{
  padding:rem(30px) rem(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  .checkBoxWrapper{
    width:100%;
    display: flex;
    margin-bottom:rem(30px);
    align-items: center;
    font-size:$font-size-300;
    font-weight: $font-weight-regular;
    .checkBox{
      margin-right:rem(10px);
    }
  }
  .btnFullCapsule{
    width:100%;
    height:rem(48px);
    background-color: $primary-color;
    border:1px solid $gray-scale-700;
    border-radius: rem(40px);
    color:$gray-scale-700;
    box-shadow: 1px 1px 0px 0px $gray-scale-700;
    font-size: $font-size-400;
    font-weight: $font-weight-medium;
    text-align: center;
    margin-bottom:rem(10px);
    &:disabled{
      box-shadow: none;
      border: 1px solid $gray-scale-400;
      background-color: $gray-scale-200;
      color:$gray-scale-400;
    }
  }
  .btnCancelWithdraw{
    font-size:$font-size-300;
    font-weight:$font-weight-medium;
    color:$gray-scale-500;
    text-decoration: underline;
    text-underline-offset: rem(2px);
    margin-top:rem(20px);
  }
}

