.linkPreviewOffCanvas {
  .offCanvasHeaderWrapper {
    border-bottom: none;
  }
  .linkContentWrapper {
    display: flex;
    min-height: 106px;
    justify-content: start;
    margin: 30px 20px 0 20px;
    .urlThumbnail {
      min-width: 60px;
      height: 60px;
      max-width: 60px;
      border-radius: 20px;
      border: 1px solid #eeeeee;
      margin-right: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
    }
    .linkContentInfo {
      display: flex;
      flex-direction: column;
      padding-right: 34px;
      overflow: hidden;
      .url {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: $font-size-200;
        color: $secondary-color;
        line-height: $font-size-200;
        margin-top: 2px;
        margin-bottom: 10px;
        font-weight: $font-weight-regular;
        -webkit-line-clamp: 1;
      }
      .siteName {
        font-size: $font-size-300;
        font-weight: $font-weight-bold;
        line-height: $font-size-300;
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
      }
      .title {
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: $font-size-200;
        line-height: $font-size-200;
        color: $gray-scale-600;
        font-weight: $font-weight-regular;
      }
    }
  }
  .bottomButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 30px 20px;
    button + button {
      margin-left: 12px;
    }
  }
  .linkPreviewHeader {
    height: 39px;
    display: flex;
    justify-content: center;
    font-size: $font-size-300;
    font-weight: $font-weight-bold;
    // line-height: $font-size-300;
    span {
      position: relative;
      white-space: nowrap;
      z-index: 1;

      &::after {
        z-index: -1;
        position: absolute;
        top: 14px;
        left: 0;
        content: ' ';
        width: 100%;
        height: 8px;
        background: $gray-scale-100;
      }
    }
  }
}
