.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: rem(20px);

  .title {
    margin-left: rem(10px);
  }
}

.linkRegisterOffCanvasWrapper {
  position: relative;
  height: inherit;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  &.isIOS {
    height: calc(100% + $keyboard-height);
  }
  // height: calc(100% + $keyboard-height);
}

.wrap {
  font-size: $font-size-300;
  padding-bottom: 60px;
  font-weight: $font-weight-regular;
  &.isIOS {
    // padding-bottom: calc(60px + $keyboard-height);
  }
  .section {
    padding-top: rem(30px);

    .title {
      margin-bottom: rem(10px);
    }

    .desc {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      color: $gray-scale-600;
      margin-top: rem(12px);

      .check {
        color: $fail-color;
        margin-right: rem(6px);
        margin-top: rem(7px);
      }

      .preview {
        color: $fail-color;
        text-decoration: underline;
      }
    }
  }
}

.scrollable {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: calc(100% + 1px);
}

.submit {
  // position: fixed;
  // bottom: 0;
  margin-left: rem(-20px);
  margin: 0 auto;
  // bottom: calc(0px);
  &.isIOS {
    margin-bottom: $keyboard-height;
  }
}
