.itemWrapper {
  width: 100%;
  height: rem(102px);
  padding: rem(14px) rem(20px);
  border-top: 1px solid $elevated-background-color;
  display: flex;
  align-items: center;
}
.checkBox {
  margin-right: rem(10px);
}

.thumbnailBox {
  min-width: rem(74px);
  min-height: rem(74px);
  border: 1px solid $gray-scale-300;
  border-radius: rem(16px);
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: rem(64px);
    height: rem(64px);
  }
}
.itemInfo {
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: rem(14px);
  flex-direction: column;
  font-size: $font-size-300;
  justify-content: center;
  .priceWrapper {
    display: flex;
    align-items: center;
    font-size: $font-size-200;
    margin-top: rem(4px);
    svg {
      display: block;
      margin: auto;
      margin-right: rem(5px);
    }
    .priceFree {
      color: $gray-scale-600;
    }
  }
}
.delButton {
  min-width: rem(20px);
  min-height: rem(20px);
}
