.body {
    position: relative;
    width: rem(76px);
    height: rem(76px);
    margin-left: rem(5px);
    margin-right: rem(5px);
    border-radius: rem(12px);
    border-color: $joysam-gray-scale-300;
    background-color: $joysam-gray-scale-200;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .icon {
        width: rem(55px);
        height: rem(55px);
    }

    &:last-child {
        margin-right: 0;
    }

    &:first-child {
        margin-left: 0;
    }

    &:hover {
        cursor: pointer;
    }
}