.profileCardWrapper{
  width:100%;
  height:100%;
  z-index: 1;
  background-image: linear-gradient(0deg,
          #ececec 0%,
          #f2f2f2 1%,
          #f2f2f2 2%,
          transparent 3%,
          transparent 50%,
          #f2f2f2 51%,
          #f2f2f2 52%,
          transparent 53%,
          transparent),
      linear-gradient(90deg,
          #ececec 0%,
          #f2f2f2 1%,
          #ececec 3%,
          #ececec 50%,
          #f2f2f2 51%,
          #f2f2f2 52%,
          #ececec 53%,
          #ececec);
  background-size: rem(50px) rem(50px);
  overflow-y: auto;
}
.editModeDimmedLayer{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 10;
  .textEditInputWrapper{
    width:100%;
    height:rem(40px);
    background-color: $gray-scale-100;
    position: absolute;
    bottom:0;
    display: flex;
    .inputText{
      border:none;
    }
  }
}
.header{
  width:100%;
  height:$default-header-height;
  padding:rem(10px) rem(20px);
  position: relative;
  
  .btnEdit{
    position:absolute;
    top:rem(11px);
    right:rem(20px);
    width:rem(82px);
    height:rem(26px);
    border-radius: rem(15px);
    padding:rem(3px) rem(12px) rem(3px) rem(6px);
    background-color: $tertiary-color;
    border:1px solid $gray-scale-700;
    display: flex;
    align-items: center;
    .icon{
      width:rem(20px);
      height:rem(20px);
    }
    .text{
      font-size: $font-size-200;
      font-weight: $font-weight-medium;
      width:100%;
      text-align: center;
    }
  }
  .btnEditConfirm{
    position:absolute;
    top:rem(6px);
    right:rem(20px);
    min-width: rem(46px);
    padding:rem(8px) rem(20px);
    
    background-color: #fff;
    color:#000;
    font-size: $font-size-200;
    font-weight: $font-weight-medium;
    border:1px solid #000;
    border-radius: rem(30px);
  }
}
.body{
  width:100%;
  height:calc(100% - $default-header-height);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .cardSwiper{
    width:rem(338px);
    height:rem(507px);
  }
  @media (max-width:549px) {
    .swiperPagingBtnWrapper{
      opacity: 0;
    }  
  }
  @media (min-width:550px) {
    .swiperPagingBtnWrapper{
      opacity: 1;
      position: absolute;
      top:rem(50%);
      z-index: 1;
      width:100%;
      padding:0 rem(50px);
      display: flex;
      justify-content: space-between;
      .btnSwiperPaging{
        width:rem(36px);
        height:rem(36px);
        border-radius: 50%;
        background-color: $gray-scale-100;
        border:1px solid $gray-scale-700;
        color:$gray-scale-700;    
      }
      .btnSwiperPaging:hover{
        background-color: $tertiary-color;
      }
    }  
  }
  .swiperProgressWrapper{
    width:rem(273px);
    display: flex;
    margin-top:rem(40px);
    .progressBg{
      margin-right:rem(10px);
      width:rem(240px);
      height:rem(4px);
      border-radius: rem(8px);
      background: #f9f9f9;
      .progressBar{
        width:100%;
        height:100%;
        border-radius: rem(8px);
        background:#000;
      }
    }
    .progressTextWrapper{
      display: flex;
      font-size: $font-size-100;
      color:#999;
      .progressCurrent{
        font-weight: $font-weight-bold;
      }
      .progressTotal{
        font-weight: $font-weight-regular;
      }
    }
  }
  .bottomBtnWrapper{
    display:flex;
    .btnSave, .btnShare{
      display: flex;
      align-items: center;
      padding:rem(3px) rem(12px) rem(3px) rem(6px);
      border-radius: rem(15px);
      background-color : #fff;
      border:1px solid #000;
    }
    .btnSave{
      margin-right:rem(10px);
    }
    .bottomBtnText{
      min-width: rem(44px);
      text-align: center;
      font-size:$font-size-200;
      font-weight: $font-weight-medium;
    }
  }
}

.hiddenArea{
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
  .canvasWrapper{
    width:rem(256px);
    height:rem(256px);
  }
  .scene-container {
    flex: 1;
    // flex 설정시 100%로 하면 무한하게 커집니다.
  }
  
}