.positionWrapper {
  position: absolute;
  top: 0;
  pointer-events: none;
}
.wrap {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .mine {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    font-size: rem(14px);
  }

  .roomOwner {
    width: rem(20px);
    height: rem(20px);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    > p {
      font-size: 14px;
      line-height: 14px;
      padding-bottom: 2px;
    }
  }

  .nickname {
    padding: rem(2px) rem(10px);
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: rem(10px);
    max-width: rem(121px);
    white-space: nowrap;
    overflow: hidden;
    width: max-content;
    text-overflow: ellipsis;
    font-size: rem(10px);
  }
}
