.modal {
    background-color: transparent;
    background-size: rem(50px) rem(50px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
}

.canvasBG {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0px;
    display:flex;
    align-items: center;
    background-image: linear-gradient(0deg,
            #ececec 0%,
            #f2f2f2 1%,
            #f2f2f2 2%,
            transparent 3%,
            transparent 50%,
            #f2f2f2 51%,
            #f2f2f2 52%,
            transparent 53%,
            transparent),
        linear-gradient(90deg,
            #ececec 0%,
            #f2f2f2 1%,
            #ececec 3%,
            #ececec 50%,
            #f2f2f2 51%,
            #f2f2f2 52%,
            #ececec 53%,
            #ececec);
    background-size: rem(50px) rem(50px);
    overflow: hidden;
    
    .avatarWrapper{
        width:min($dialog-max-width, 100vw);
        height:min($dialog-max-width, 100vw);
        @media (max-aspect-ratio : 1.2){
            width:min(50vh, 75vw);
            height:min(50vh, 75vw);
        }
        margin:rem(185px) auto;
        background: radial-gradient(circle at center, $dialog-secondary-color3 40%, transparent 41%) no-repeat;
        background-size: 125% 125%;
        background-position: center center;
    }
}


.body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.body2 {
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 100%;
    .headerHeight{
        height:$default-header-height;
    }
}

.backgroundImageVideo{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    .video, .image{
        width:100%;
        height:100%;
        object-fit: cover;
    }
}