.settingCellWrapper{
  padding:rem(15px) rem(20px) rem(21px) rem(20px);
  
  border-bottom:1px solid $gray-scale-200;
  &.hasParent{
    background-color: $gray-scale-200;
    border-bottom:1px solid $gray-scale-100;
  }
  .top{
    display: flex;
    height:rem(48px);
    align-items: center;
    position: relative;
    .title{
      font-size: $font-size-300;
      font-weight: $font-weight-medium;
      color:$gray-scale-700;
    }
    .rightSide{
      position: absolute;
      right:0;
    }
  }
  .desc{
    margin-top:rem(10px);
    font-size: $font-size-200;
    color:$gray-scale-500;
    font-weight: $font-weight-regular;
  }

}