.background {
  width: 100%;
  height: 100%;
  background-color: $default-background-color;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
$list-type-height: rem(54px);
.list{
  height: calc($vh-100 - $full-button-height - $default-header-height - $list-type-height);
  display: flex;
  overflow-y: auto;
  padding: 0 rem(20px);
  .balloonItem{
    margin-right:rem(9px);
  }
}
.listType{
  width:100%;
  height:$list-type-height;
  display: flex;
  align-items: center;
  .scrollArea{
    display: flex;
    width:calc(100% - rem(50px));
    height:rem(30px);
    overflow-x: scroll;    
    -ms-overflow-style: none;
    scrollbar-width: none;
    .btnListType{
      width:fit-content;
      padding:rem(6px) rem(12px);
      height:rem(24px);
      border-radius: rem(15px);
      margin-right:rem(5px);
      font-size:$font-size-200;
      display: flex;
      justify-content: center;
      align-items: center;
      &.on{
        color:$gray-scale-700;
        border:1px solid $gray-scale-700;
        background-color: $primary-color; 
      }
      &.off{
        color:$gray-scale-600;
        border:1px solid $gray-scale-300;
        background-color: $gray-scale-200;
      }
    }
    .btnListType:nth-child(1){
      margin-left:rem(20px);
    }
  }
  .scrollArea::-webkit-scrollbar{
    display: none;
  }
  .rightSide{
    width:rem(50px);
    position:absolute;
    right:0;
    text-align: center;
  }
}
