.item-wrap {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  overflow: hidden;



  .txt {
    width: 100%;
    height: rem(10px);
    margin-top: rem(5px);
    font-size: rem(10px);
    line-height: 1; 
    text-align: center;
  }
}
