.actionBottomWrapper {
  // position: absolute;
  // bottom: 0;
  background-color: $default-background-color;
  border-radius: rem(20px) rem(20px) 0 0;
  width: 100%;
  flex-grow: 1;
  min-height: 50%;
}

.actionCategoryItem {
  font-size: rem(14px);
  line-height: rem(21px);
  text-align: center;
  height: 100%;
  padding: rem(12px);
  width: fit-content;
  white-space: nowrap;
  color: $gray-scale-600;
  background-color: transparent;
  box-sizing: border-box;

  &:first-child {
    margin-left: rem(10px);
  }
  &.active {
    margin-top: rem(1px);
    font-weight: 700;
    color: $gray-scale-700;
    border-bottom: rem(2px) solid $primary-color;
  }
}

.actionItemListWrapper {
  height: 100%;
  overflow-y: auto;
  width: 100%;
  display: flex;
  justify-content: center;

  .actionItemList {
    display: grid;
    width: auto;
    height: max-content;
    padding: rem(10px);
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: rem(60px);
    @media (min-width: 650px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 800px) {
      grid-template-columns: repeat(5, 1fr);
    }

    .actionItem {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: rem(10px);
      height: rem(149px);
      width: rem(103px);
      border-radius: rem(16px);
      border: rem(1px) solid #ececec;

      &.active {
        border: rem(1.5px) solid $secondary-color;
      }
    }
  }
}
