.bottomButtonWrapper {
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0;
  display: flex;
}

.scrapButton {
  background-color: #ffffff;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eeeeee;
  font-size: $font-size-200;
  font-weight: $font-weight-regular;
  line-height: 20px;
}
.scrapInfo {
  display: flex;
  align-items: center;
}
.scrapIcon {
  margin-right: 4px;
}
.actionButton {
  background-color: $primary-color;
  font-weight: $font-weight-bold;
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
