.body {
    position: relative;
    width: rem(55px);
    height: rem(36px);
    padding: rem(9px) rem(16px);
    margin-right: rem(8px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: rem(20px);
    border: rem(1px) solid $joysam-gray-scale-300;
    background: $default-background-color;

    &.selected {
        border: rem(1px) solid #000;
        background: $joysam-gray-scale-700;
    }

    &:hover {
        cursor: pointer;
    }
}

.text {
    color: $joysam-gray-scale-600;
    text-align: center;
    font-size: $font-size-200;
    font-style: normal;
    font-weight: $font-weight-medium;
    line-height: normal;

    &.selected {
        color: $joysam-gray-scale-100;
    }
}