.background{
  width:100%;
  height:100%;
  background-color: $gray-scale-100;
  display: flex;
  flex-direction: column;
  position: relative;
}

.body{
  width: 100%;
  height:calc($vh-100 - $full-button-height - $default-header-height);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
  .balloonSwiper{
    width:100%;
    .slide{
      width:rem(315px);
      height:rem(572px);
    }
    margin-bottom:rem(20px);
  }
  position:relative;
  .prevNextBtnWrapper{
    z-index: 1;
    position:absolute;
    width:rem(355px);
    display:flex;
    top:rem(340px);
    justify-content: space-between;
    .btnPrev, .btnNext{
      width:rem(36px);
      height:rem(36px);
      border-radius: 50%;
      background-color: $gray-scale-100;
      border:1px solid $gray-scale-700;
      color:$gray-scale-700;    
    }
    .btnPrev:hover, .btnNext:hover{
      background-color: $tertiary-color;
    }
    .btnPrev:disabled, .btnNext:disabled{
      background-color: $gray-scale-200;
      border:1px solid $gray-scale-300;
      color:$gray-scale-400;
    }
  }
  .btnList{
    width:rem(82px);
    height:rem(26px);
    border-radius: rem(15px);
    border:1px solid $gray-scale-700;
    background-color: $tertiary-color;
    font-size: $font-size-200;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:rem(20px);
  }
}

